/* тут у нас все что касается основных настроечек страницы */


h1, p, body, input{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


div.page_contant{
    width: 1110px;
}

div.display_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.display_flex_between{
    display: flex;
    justify-content: space-between;
}



.svg_icon{
    height: 24px;
    width: 24px;
}

/* header */

div.block_header{
    margin-top: 16px;


    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-bottom: 32px;
}

/* end header */

/* block menu */

div.block_of_menu_for_xl_and_md{
    display: block;
}

div.block_of_menu_for_sm{
    display: none;
}


div.block_of_menu{
    display: flex;
    justify-content: space-between;
}

div.menu_block{
    width: 350px;
    background-color: #3A3A3A;

    border-radius: 32px;

    display: block;
}

div.menu_block_contant{
    width: 302px;
    padding: 24px;
}


/* end menu block */


.mrgin_100{
    margin-top: 100px;
}

/* footer */


div.main_item_of_menu{


    height: 372px;
    width: 730px;

    background-color: #E4EAF2;
    border-radius: 32px;

    display: flex;

}


div.block_footer{
    height: 246px;
    width: 100%;
    background: #3A3A3A;
    border-radius: 32px 32px 0px 0px;
}

/* end footer */